*{
    box-sizing: border-box;
}
body{
    text-align: center;
    width: 640px;
    margin: 0 auto;
}
h1{
    font-style: italic;
    color: darkblue;
}
.full-img{
    position: relative;
    display: block;
    width: 100%;
    height: 480px;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 480px;
    background-color: rgba(0,0,0,0);
}
button{
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-style: italic;
    font-family: serif;
    border-radius: 8px;
    background-color: rgba(128,128,128,0.3);
}
button:hover{
    color:#C51F0F;
    font-weight: 800;
    font-size: 1.3em;
}
.thumb-bar img{
    display: block;
    width: 20%;
    float:left;
    cursor: n-resize;
}
